<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<form action="/save" method="post">
  Name: <input type="text" name="user[name]">
  Email: <input type="text" name="user[email]">
  <button type="submit">Send</button>
  </form>
  <% if (errors.length >0){ %>
        <div>
          <strong>Warning!</strong>
          <ul>
            <% for(var error of errors){ %>
              <li><%= error.msg%></li>             
            <% }  %>
          </ul>

        </div>
  <% } %>
</body>
</html>